entsoe-py
pandas>=1.5.0, <2.1.0
pyspark>=3.5.0,<3.6.0
delta-spark==3.0.0
python-dotenv
great-expectations==0.18.12
dbt-core==1.7.4
duckdb==0.10.0
requests==2.31.0
pyarrow==14.0.2
fastparquet==2023.10.1